footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5; /* Color de fondo del footer */
  padding: 1rem 0; /* Padding para darle espacio interno */
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); /* Sombras opcionales */
}
